.main
{
    border: 1px soild;
    background-color: purple;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad
{
    padding: 40px 40px 40px 40px;

}
.box
{
    width: 350px;
    border: solid 0px;
    border-radius: 5px;


}
img{
    width:100% ;border-radius: 10px;
}
.flex
{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}